.dashboard-nav a {
  text-decoration: none;
  padding: 7px 90px;
  display: block;
  color: #fff;
  text-align: left;
  margin-bottom: 3px;
  transition: 0.6s ease-in;
}

.dashboard-nav a:first-child {
  margin-top: 100px;
  background-color: #fff;
  color: #000;
}

.dashboard-nav a:hover {
  background-color: #f5f6fa;
  color: #000;
}
.dashboard-nav {
  background-color: var(--default-bg);
}
.dashboard {
  min-height: 100vh;
  overflow: hidden !important;
}

.dashboard i {
  color: var(--main-color);
}

.dashboard h5 {
  font-size: 20px;
}

.manage-site-order th {
  color: var(--main-color);
}
.manage-site-order tr td {
  color: #000 !important;
}

/* product details */

.booking-details-section {
  background: var(--section-bg);
  min-height: 100vh;
  padding-top: 200px;
}

.booking-details-section label {
  color: #fff;
}

.booking-details-section input {
  margin-bottom: 10px;
}
