.main-nav {
  font-size: 20px;
}

nav a {
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0;
  color: #fff !important;
}

.nav-color {
  background-color: black !important;
  transition: 0.5s ease-in;
}

.nav-design a:hover {
  color: #fff !important;
}
.nav-design a::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 0px;
  margin: auto 0;
  background: var(--main-color);
  transition: width 0.5s ease-in-out;
}

.nav-design a:hover::after {
  display: block;
  width: 100%;
}

li {
  margin-right: 30px;
}
li a:active {
  color: #01d6a3 !important;
}
nav {
  position: fixed !important;
  width: 100%;
  z-index: 9999999;
}

.btn-danger {
  background-color: var(--main-color) !important;
}
