.footer-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  background-color: #000;
  overflow: hidden;
}
.footer-section li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.footer-section ul {
  padding-left: 0px;
}
.footer-section li {
  list-style: none;
  padding-top: 15px;
  margin-left: 0px;
}

.footer-section p {
  font-family: "Ubuntu", Tahoma, Geneva, sans-serif;
  font-weight: 400;
}
